footer
  include _social-buttons.pug

  -
    const showTwitter = (
      Array.isArray(twitterAccountList) &&
      twitterAccountList.some(account => account && account.name)
    );

  +address
    +dl
      if showTwitter
        div
          dt Twitter
          each account in twitterAccountList
            if account.name
              -
                const href = (
                  account.id ?
                  `https://twitter.com/intent/user?user_id=${account.id}` :
                  `https://twitter.com/${account.name}`
                );
              dd
                a(href=href) @#{account.name}

  p
    | 最終更新日：
    time(datetime=formatDate(generateTime, '%Y-%m-%dT%H:%M:%SZ', 0))
      | #{formatDate(generateTime, '%Y年%-m月%-d日 %H:%M:%S JST', 9 * 60 * 60)}

  if copyright
    include _license/cc_by_sa_4.0.pug

    if author
      p.copyright
        small(lang="en")
          | Copyright ©#{s}
          if creationDate
            time(datetime=formatDate(creationDate, '%Y-%m-%dT%H:%M:%SZ', 0))
              | #{formatDate(creationDate, '%Y')}
            | -
          time(datetime=formatDate(generateTime, '%Y-%m-%dT%H:%M:%SZ', 0))
            | #{formatDate(generateTime, '%Y')}
          | #{s}#{author} #{copyright}

  if repositoryUrl
    p.view-repository
      a(href=repositoryUrl)
        img(
          alt="View on GitHub"
          src="GitHub-Mark-Light-32px.png"
          srcset=(
            [
              [120, 'GitHub-Mark-Light-120px-plus.png'],
              [64, 'GitHub-Mark-Light-64px.png'],
              [32, 'GitHub-Mark-Light-32px.png'],
            ]
              .map(([width, url]) => `${url} ${width}w`)
              .join(',')
          )
          sizes="32px"
          width="32"
          height="32"
        )
