footer
  include _social-buttons.pug

  if repositoryUrl
    p.view-repository
      a(href=repositoryUrl) View on GitHub

  -
    const showTwitter = (
      Array.isArray(twitterAccountList) &&
      twitterAccountList.some(account => account && account.name)
    );

  +address
    +dl
      if showTwitter
        div
          dt Twitter
          each account in twitterAccountList
            if account.name
              -
                const href = (
                  account.id ?
                  `https://twitter.com/intent/user?user_id=${account.id}` :
                  `https://twitter.com/${account.name}`
                );
              dd
                a(href=href) @#{account.name}

  p
    | 最終更新日：
    time(datetime=formatDate(generateTime, '%Y-%m-%dT%H:%M:%SZ', 0))
      | #{formatDate(generateTime, '%Y年%-m月%-d日 %H:%M:%S JST', 9 * 60 * 60)}

  if copyright
    if author
      p.copyright
        small(lang="en")
          | Copyright ©#{s}
          if creationDate
            time(datetime=formatDate(creationDate, '%Y-%m-%dT%H:%M:%SZ', 0))
              | #{formatDate(creationDate, '%Y')}
            | -
          time(datetime=formatDate(generateTime, '%Y-%m-%dT%H:%M:%SZ', 0))
            | #{formatDate(generateTime, '%Y')}
          | #{s}#{author} #{copyright}

    include _license/cc_by_sa_4.0.pug
