p.social-buttons
  //- Twitter
  //- https://dev.twitter.com/web/tweet-button
  a(
    href=(tweetContentParameters => {
      /**
       * @see https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent
       */
      const encodeRFC3986URIComponent = str => (
        encodeURIComponent(str)
          .replace(
            /[!'()*]/g,
            c => `%${c.charCodeAt(0).toString(16).toUpperCase()}`
          )
      );
      /*
       * TODO: Fix URL regex
       */
      const urlRegExp = /^.+$/;
      const twitterUserNameRegExp = /^@[a-zA-Z0-9_]{1,15}$/;
      const twitterHashtagRegExp = /^.+$/;

      const params = [...Object.entries(tweetContentParameters)]
        .map(([key, value]) => {
          if (key === 'text') {
            if (!value) {
              return null;
            }
          } else if (key === 'url') {
            if (!urlRegExp.test(value)) {
              return null;
            }
          } else if (/^(?:hashtags|related)$/.test(key)) {
            value = (Array.isArray(value) ? value : String(value).split(','))
              .filter(value => (
                key === 'hashtags' && twitterHashtagRegExp.test(value) ||
                key === 'related' && twitterUserNameRegExp.test(value) ||
                false
              ))
              .join(',');
            if (!value) {
              return null;
            }
          } else if (key === 'via') {
            if (!twitterUserNameRegExp.test(value)) {
              return null;
            }
          } else {
            return null;
          }
          return encodeRFC3986URIComponent(key) + '=' + encodeRFC3986URIComponent(value);
        })
        .filter(Boolean)
        .join('&');
      return 'https://twitter.com/share' + (params ? ('?' + params) : '');
    })({
      text: '',
      url: '',
      hashtags: [],
      via: '',
      related: [],
    })
    class="default-button-style twitter-share-button"
  ) ツイート

  //- Pocket
  //- https://getpocket.com/publisher/button
  a(
    href=(pocketParameters => {
      /**
       * @see https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent
       */
      const encodeRFC3986URIComponent = str => (
        encodeURIComponent(str)
          .replace(
            /[!'()*]/g,
            c => `%${c.charCodeAt(0).toString(16).toUpperCase()}`
          )
      );
      /*
       * TODO: Fix URL regex
       */
      const urlRegExp = /^.+$/;

      const params = [...Object.entries(pocketParameters)]
        .map(([key, value]) => {
          if (key === 'url') {
            if (!urlRegExp.test(value)) {
              return null;
            }
          } else if (key === 'title') {
            if (!value) {
              return null;
            }
          } else {
            return null;
          }
          return encodeRFC3986URIComponent(key) + '=' + encodeRFC3986URIComponent(value);
        })
        .filter(Boolean)
        .join('&');
      return 'https://getpocket.com/save' + (params ? ('?' + params) : '');
    })({
      url: '',
      title: '',
    })
    data-pocket-label="pocket"
    data-pocket-count="none"
    class="default-button-style pocket-btn"
    data-lang="ja"
  ) Pocket
  - includeResources.push({src: 'https://widgets.getpocket.com/v1/j/btn.js?v=1', id: 'pocket-btn-js', async: true});

  //- はてなブックマーク
  //- http://b.hatena.ne.jp/guide/bbutton
  a(
    href=(url => {
      const match = url.match(/^http(s)?:\/\/([\s\S]*)$/);
      return 'http://b.hatena.ne.jp/entry/' + (
        match ? (match[1] ? 's/' : '') + match[2] : url
      );
    })(baseUrl)
    class="default-button-style hatena-bookmark-button"
    data-hatena-bookmark-layout="basic-label"
    data-hatena-bookmark-lang="ja"
    title="このページをはてなブックマークに追加"
  )
    img(src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このページをはてなブックマークに追加" width="20" height="20" style="border: none;")
  - includeResources.push({src: 'https://b.st-hatena.com/js/bookmark_button.js', async: true});
