//- ccLicense.title
//- ccLicense.name
//- ccLicense.url
//- ccLicense.sourceUrl
//- ccLicense.contactUrl

//- https://creativecommons.org/choose/?lang=ja

p(prefix="cc: http://creativecommons.org/ns# dct: http://purl.org/dc/terms/")
  a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
    img(
      alt="クリエイティブ・コモンズ・ライセンス"
      style="border-width:0"
      src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"
    )
  br
  if ccLicense
    if ccLicense.url
      a(
        href=ccLicense.url
        property="cc:attributionName" rel="cc:attributionURL"
      ) #{ccLicense.name || ccLicense.url}
    else
      if ccLicense.name
        span(property="cc:attributionName") #{ccLicense.name}
  if ccLicense && ccLicense.title
    if ccLicense.name || ccLicense.url
      | 作
    | 『
    span(property="dct:title") #{ccLicense.title}
    | 』
  else
    if ccLicense && (ccLicense.name || ccLicense.url)
      | を著作者とする
    | この作品
  | は
  a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
    | クリエイティブ・コモンズの 表示 - 継承 4.0 国際ライセンス
  | で提供されています。
  if ccLicense
    if ccLicense.sourceUrl
      br
      a(href=ccLicense.sourceUrl rel="dct:source") #{ccLicense.sourceUrl}
      | の作品に基づいています。
    if ccLicense.contactUrl
      br
      | このライセンスで許諾される範囲を超えた利用の可能性については以下のアドレスもご覧下さい。
      a(href=ccLicense.contactUrl rel="cc:morePermissions") #{ccLicense.contactUrl}
