//- ccLicense.contentsTitle
//- ccLicense.creatorName
//- ccLicense.creatorSiteUrl
//- ccLicense.sourceTitle
//- ccLicense.sourceUrl
//- ccLicense.contactUrl

//- https://creativecommons.org/choose/?lang=ja

p.license(prefix="cc: http://creativecommons.org/ns# dct: http://purl.org/dc/terms/")
  a.cc-logo(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
    +img(
      alt="クリエイティブ・コモンズ・ライセンス"
      srcset=[
        'cc-by-sa.403x141.png',
        'cc-by-sa.88x31.png',
      ]
    )
  br
  if ccLicense
    if ccLicense.creatorSiteUrl
      a(
        href=ccLicense.creatorSiteUrl
        property="cc:attributionName" rel="cc:attributionURL"
      )= ccLicense.creatorName || ccLicense.creatorSiteUrl
    else if ccLicense.creatorName
      span(property="cc:attributionName")= ccLicense.creatorName
  if ccLicense && ccLicense.contentsTitle
    if ccLicense.creatorName || ccLicense.creatorSiteUrl
      | 作
    | 『#[span(property="dct:title")= ccLicense.contentsTitle]』
  else
    if ccLicense && (ccLicense.creatorName || ccLicense.creatorSiteUrl)
      | を著作者とする
    | この作品
  | は、
  a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
    | クリエイティブ・コモンズ 表示 - 継承 4.0 国際ライセンス
  | で提供されています。
  if ccLicense
    if ccLicense.sourceUrl
      if ccLicense.sourceTitle
        | この作品は
      a(href=ccLicense.sourceUrl rel="dct:source")
        if ccLicense.sourceTitle
          | #{ccLicense.sourceTitle}
        else
          | #{ccLicense.sourceUrl}
      if !ccLicense.sourceTitle
        | の作品
      | に基づいています。
    if ccLicense.contactUrl
      | このライセンスで許諾される範囲を超えた利用の可能性については以下のアドレスもご覧下さい。
      a(href=ccLicense.contactUrl rel="cc:morePermissions")= ccLicense.contactUrl
